vti_encoding:SR|utf8-nl
vti_author:SR|TOSHIBA-MATILDE\\Matilde
vti_modifiedby:SR|TOSHIBA-MATILDE\\Matilde
vti_timelastmodified:TR|18 May 2010 20:12:11 -0000
vti_timecreated:TR|18 May 2010 20:12:11 -0000
vti_cacheddtm:TX|18 May 2010 20:12:11 -0000
vti_filesize:IR|1107
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{475A04C6-CDDD-48F4-B337-E1327ECF7FDC}
vti_backlinkinfo:VX|
