vti_encoding:SR|utf8-nl
vti_author:SR|TOSHIBA-MATILDE\\Matilde
vti_modifiedby:SR|TOSHIBA-MATILDE\\Matilde
vti_timelastmodified:TR|18 May 2010 20:12:11 -0000
vti_timecreated:TR|18 May 2010 20:12:11 -0000
vti_cacheddtm:TX|18 May 2010 20:12:11 -0000
vti_filesize:IR|10939
vti_cachedlinkinfo:VX|S|levglobl.gif S|levbkg2.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/level/levglobl.gif FSUS|_themes/level/levbkg2.gif FSUS|_themes/level/blank.gif
vti_extenderversion:SR|5.0.2.4330
vti_lineageid:SR|{9B187BE0-B489-44C7-8A75-FC907FABD3C7}
vti_backlinkinfo:VX|
